<!doctype html>
<html class="no-js" lang="en-GB">
	<head>
		<meta charset="utf-8">
		<title>Final Year Project | Battle Tracker for 5th Edition Dungeons and Dragons</title>
		<meta name="description" content="A Battle Tracker for 5th edition Dungeons and Dragons written using Progressive Web Technologies.">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="manifest" href="site.webmanifest">
		<link rel="apple-touch-icon" href="icon.png">
		<!-- Place favicon.ico in the root directory -->

		<link rel="stylesheet" href="css/main.css">
		<link rel="stylesheet" href="css/normalize.css">

		<meta name="theme-color" content="#160a0b">
	</head>

	<body>
		<!--[if IE]>
		<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
		<![endif]-->

		<main id="app">
			<div id="sidebar">
				<ul>
					<li v-if="state === 0">
						<button type="button" title="Begin Encounter" v-on:click="setupEncounter($event)">
							<img src="img/sidebar/play-button.png" alt="Play Icon" width="24px" height="24px">
						</button>
					</li>
					<li v-if="state == 2">
						<button type="button" title="End Encounter" v-on:click="state = 0">
							<img src="img/sidebar/pause-button.png" alt="Pause Icon" width="24px" height="24px">
						</button>
					</li>
					<li v-if="state == 2">
						<button type="button" title="Advance Turn" v-on:click="advanceTurn($event)">
							<img src="img/sidebar/fast-forward-button.png" alt="Fast-Forward Icon" width="24px" height="24px">
						</button>
					</li>
					<li>
						<button type="button" title="Clean Encounter" v-on:click="initiativeOrder = []">
							<img src="img/sidebar/large-paint-brush.png" alt="Paint Brush Icon" width="24px" height="24px">
						</button>
					</li>
					<li>
						<button type="button" title="Save Encounter">
							<img src="img/sidebar/save.png" alt="Paint Brush Icon" width="24px" height="24px">
						</button>
					</li>
				</ul>
			</div>

			<div class="container">
				<div class="column" v-if="state === 0">
					<div class="tabs">
						<a v-on:click="activeTab = 1" v-bind:class="[ activeTab === 1 ? 'active' : '' ]">Creatures</a>
						<a v-on:click="activeTab = 2" v-bind:class="[ activeTab === 2 ? 'active' : '' ]">Characters</a>
						<a v-on:click="activeTab = 3" v-bind:class="[ activeTab === 3 ? 'active' : '' ]">Encounters</a>
					</div>
					<div class="searchbar">
						<label for="search" class="hidden">Search</label>
						<input id="searchbar" type="text" name="search" label="searchbar">
					</div>
					<div class="content">
						<div v-if="activeTab === 1" class="tab-content">
							<ul>
								<creature-listing
								v-for="(creature, index) in creatures"
								v-bind:creature="creature"
								v-bind:key="creature.id"
								v-on:click.native="addCreature(index)"></creature-listing>
							</ul>
						</div>
						<div v-if="activeTab === 2" class="tab-content">
							<button type="button" v-on:click="newCharacterForm = true">Create Character</button>

							<ul>
								<li v-for="(character, index) in characters" v-on:click="addCharacter(index)">{{ character.name }}</li>
							</ul>
						</div>
						<div v-if="activeTab === 3" class="tab-content">
							<p>Encounters</p>
						</div>
					</div>
				</div>
				<div class="column">
					<initiative-order
					id="initiative"
					v-bind:combatants="initiativeOrder"
					v-if="newCharacterForm === false"></initiative-order>
					<span v-if="initiativeOrder.length === 0 && newCharacterForm === false">
						<em>No combatants available. Try adding some!</em>
					</span>
					<initiative-modal
					v-bind:combatants="initiativeOrder"
					v-on:begin-combat="beginCombat($event)"
					v-on:updateinitiative="updateInitiative"
					v-if="state === 1 && newCharacterForm === false"></initiative-modal>
					<new-character-form
					v-if="newCharacterForm === true"></new-character-form>
				</div>
			</div>
		</main>
		
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		<script src="https://unpkg.com/dexie@latest/dist/dexie.js"></script>
		<!-- <script src="serviceworker.js"></script> -->
		<script src="js/app.js"></script>
	</body>
</html>
