<!doctype html>
<html class="no-js" lang="en-GB">
	<head>
		<meta charset="utf-8">
		<title>Final Year Project | Battle Tracker for 5th Edition Dungeons and Dragons</title>
		<meta name="description" content="A Battle Tracker for 5th edition Dungeons and Dragons written using Progressive Web Technologies.">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="manifest" href="site.webmanifest">
		<link rel="apple-touch-icon" href="icon.png">
		<!-- Place favicon.ico in the root directory -->

		<link rel="stylesheet" href="css/main.css">
		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/boilerplate.css">

		<meta name="theme-color" content="#160a0b">
	</head>

	<body>
		<!--[if IE]>
		<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
		<![endif]-->

		<main id="app">
			<div class="sidebar">
				<nav id="commands">
					<ul>
						<li v-if="state === 0">
							<button type="button" v-on:click="setupEncounter($event)">
								Begin Encounter
							</button>
						</li>
						<li v-if="state == 2">
							<button type="button" v-on:click="advanceTurn($event)">
								Next Turn
							</button>
						</li>
						<li v-if="state == 2">
							<button type="button" v-on:click="state = 0">
								End Encounter
							</button>
						</li>
						<li>
							<button type="button" v-on:click="initiativeOrder = []">
								Clear Combatants
							</button>
						</li>
						<li>
							<button type="button">
								Save Encounter
							</button>
						</li>
					</ul>
				</nav>
			</div>
			<div id="library" class="container">
				<div class="tabs">
					<a v-on:click="activeTab = 1" v-bind:class="[ activeTab === 1 ? 'active' : '' ]">Creatures</a>
					<a v-on:click="activeTab = 2" v-bind:class="[ activeTab === 2 ? 'active' : '' ]">Characters</a>
					<a v-on:click="activeTab = 3" v-bind:class="[ activeTab === 3 ? 'active' : '' ]">Encounters</a>
				</div>
				<div class="searchbar">
					<input id="search" type="text" name="search">
				</div>
				<div class="content">
					<div v-if="activeTab === 1" class="tab-content">
						<ul>
							<creature-listing
							v-for="(index, creature) in creatures"
							v-bind:creature="creature"
							v-on:click="addCreature(index)"></creature-listing>
						</ul>
					</div>
					<div v-if="activeTab === 2" class="tab-content">
						<button type="button" v-on:click="newCharacterForm = !newCharacterForm">Create Character</button>

						<ul>
							<li v-for="(index, character) in 0">{{ character.name }}</li>
						</ul>
					</div>
					<div v-if="activeTab === 3" class="tab-content">
						<p>Encounters</p>
					</div>
				</div>
			</div>
			<new-character-form
			id="new-character-form"
			v-if="newCharacterForm"></new-character-form>
			<div id="initiative" v-if="!newCharacterForm">
				<initiative-order :data="initiativeOrder"></initiative-order>
				<initiative-modal
				:data="initiativeOrder"
				v-on:begin-combat="beginCombat($event)"
				v-on:updateinitiative="updateInitiative"
				v-on:getactive="getActive"
				v-if="state === 1"></initiative-modal>
			</div>
		</main>

		<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.18/vue.min.js"></script>
		<script src="serviceworker.js"></script>
		<script src="js/app.js"></script>
	</body>
</html>
